<%- include('partials/header.ejs') %>

    <%- include('partials/display_alert') %>

    <% if(!isStudentCreated) { %>
        <% student = {
            "IITB Roll Number": iitb_roll_number,
            "Interests": [],
            "Hobbies": [],
        } %>
    <% } %>

    <main class="container">
        <div class="container mt-5 display-box">
            <% if(!isStudentCreated) { %>
                <form action="/complete-profile" method="post">
            <% } else { %>
                <form action="/match" method="post">
            <% } %>
                <legend>Let's Get to Know You</legend>
                <div class="row mb-3">
                    <div class="col-md-4 col-lg-2">
                        <!-- IITB Roll Number  -->
                        <label class="form-label" for="iitb_roll_number">IITB Roll Number</label>
                        <input class="form-control" type="text" name="IITB Roll Number" id="iitb_roll_number" disabled value="<%= student["IITB Roll Number"] %>">
                    </div>
                    <div class="row col-md-8 col-lg-10">
                        <div class="col-md-6">
                            <!-- Name -->
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" type="text" name="Name" id="name" value="<%= student["Name"] %>">
                        </div>
                        <div class="col-md-6">
                            <!-- Email -->
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" name="Email" id="email" value="<%= student["Email"] %>">        
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <!-- Year of Study -->
                        <label class="form-label" for="year_of_study">Year of Study</label>
                        <input class="form-control" type="text" name="Year of Study" id="year_of_study" value="<%= student["Year of Study"] %>">
                    </div>
                    <div class="col-md-4">
                        <!-- Age -->
                        <label class="form-label" for="age">Age</label>
                        <input class="form-control" type="number" name="Age" id="age" value="<%= student["Age"] %>">
                    </div>
                    <div class="col-md-4">
                        <!-- Gender -->
                        <label class="form-label text-center" for="gender">Gender</label>
                        <select class="form-select" name="Gender">
                            <% for(const gender of ["Male", "Female", "Other"]) { %>
                                <option value="<%= gender %>" <%= student["Gender"] === gender ? "selected" : "" %>><%= gender %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <!-- Photo -->
                <div class="mb-3">
                    <label for="photo" class="form-label"><a class="link-style text-primary" href="" data-bs-toggle="modal" data-bs-target="#commonsModal">Profile Photo URL</a></label>
                    <!-- Modal -->
                    <div class="modal fade" id="commonsModal" tabindex="-1" aria-labelledby="commonsModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="commonsModalLabel">Local Image File</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    If you want to upload a local image file, please do the following:
                                    <ol>
                                        <li>Move the image into the <b>public/imgs</b> directory.</li>
                                        <li>Enter <b>/imgs/&lt;filename&gt;</b> in the 'Profile Photo URL' textbox.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input value="<%= student["Photo"] %>" id="photo" name="Photo" type="text" class="form-control">
                </div>
                <!-- Interests -->
                <% all_interests = ["Traveling", "Sports", "Movies", "Music", "Literature", "Technology", "Fashion", "Art"] %>
                <label class="form-label" for="interests">Interests</label>
                <div class="mb-3 row">
                    <% for(let i = 0; i < all_interests.length; i++) { %>
                        <div class="col-md-3 form-check">
                            <input class="form-check-input" name="Interests" type="checkbox" value="<%= all_interests[i] %>" id="interest_<%= i %>" <%= student["Interests"].includes(all_interests[i]) ? "checked" : "" %>>
                            <label class="form-check-label" for="interest_<%= i %>"><%= all_interests[i] %></label>
                        </div>
                    <% } %>
                </div>
                <!-- Hobbies -->
                <% all_hobbies = ["Reading", "Cooking", "Coding", "Gardening", "Painting", "Watching Youtube/Instagram", "Playing musical instruments", "Photography"] %>
                <label class="form-label" for="hobbies">Hobbies</label>
                <div class="mb-5 row">
                    <% for(let i = 0; i < all_hobbies.length; i++) { %>
                        <div class="col-md-3 form-check">
                            <input class="form-check-input" name="Hobbies" type="checkbox" value="<%= all_hobbies[i] %>" id="hobbies_<%= i %>" <%= student["Hobbies"].includes(all_hobbies[i]) ? "checked" : "" %>>
                            <label class="form-check-label" for="hobbies_<%= i %>"><%= all_hobbies[i] %></label>
                        </div>
                    <% } %>
                </div>
                <% if(!isStudentCreated) { %>
                    <button class="btn btn-primary">Complete Profile</button>
                <% } else { %>
                    <div class="mb-3 row justify-content-between">
                        <div class="mb-3 col-lg-6 row justify-content-center">
                            <button formaction="/update-profile" class="col-md-6 btn btn-primary">Update Profile</button>
                        </div>
                        <div class="mb-3 col-lg-6 row justify-content-center">
                            <button class="col-md-6 btn btn-primary">Update and Find Match!</button>
                        </div>
                    </div>
                <% } %>
            </form>
        </div>
    </main>

<%- include('partials/footer.ejs') %>
