<%- include('partials/header.ejs') %>

    <div class="container">
        <!-- TODO: Add confetti falling (similar to how Google does it) -->
        <h1 class="display-3 mb-3" >Your match is...</h1>
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="d-flex flex-column justify-content-center">
                    <!-- NOTE: Insert Image URL here -->
                    <img class="rounded-top img-fluid" src="<%= match["Photo"] %>" alt="">
                    <button id="like_button" type="button" class="btn btn-primary rounded-bottom">Like &hearts;</button>
                </div>
                <!-- TODO: Implement like button logic -->
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-between">
                <!-- NOTE: Insert generated description para here -->
                <!-- TODO: Attempt dynamic updation of font size based on screen width -->
                <h2 class="display-4 text-center"><%= match["Name"] %></h2>
                <p class="d-none d-md-block lead text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe in deleniti commodi fugiat ullam nemo eaque eveniet, sint reprehenderit exercitationem ipsam ex quod omnis dolor molestiae placeat illum vel! Laudantium.
                </p>
                <div class="row">
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-primary flex-grow-1" href="/profile/<%= match["_id"] %>">View Profile</a>
                    </div>
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-primary flex-grow-1">Send a QuickChat<sup>&trade;</sup></a>
                    </div>
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-primary flex-grow-1">Connect via Email</a>
                    </div>
                    <div class="col-md-6 mb-3 d-flex justify-content-center">
                        <a class="btn btn-secondary flex-grow-1" href="/explore">View More Profiles</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="student_id" class="d-none"><%= match["_id"] %></div>
    </div>

<%- include('partials/footer.ejs') %>