<%- include('partials/header.ejs') %>
    <main class="container">
        <div class="my-3">
            <% for(const profile of profiles) { %>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-xl-6 display-box my-3 row justify-content-center">
                        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                            <a href="/profile/<%= profile["_id"] %>" class="fs-4 link-style text-center"><%= profile["Name"] %></a>
                            <p class="lead"><%= profile["Year of Study"] %> year student, IITB</p>
                        </div>
                        <div class="col-8 col-md-4">
                            <a href="/profile/<%= profile["_id"] %>">
                                <img class="img-fluid img-thumbnail rounded-pill" src="<%= profile["Photo"] %>" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </main>

<%- include('partials/footer.ejs') %>