<%- include('partials/header.ejs') %>

        <div class="my-3 my-card-container">
            <% for(const profile of profiles) { %>
                <div class="bg-light border mb-4 my-card row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="<%= profile["Photo"] %>" alt="">
                    </div>
                    <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                        <strong><%= profile["Name"] %></strong>
                        <p class="lead"><%= profile["Year of Study"] %> year student, IITB</p>
                    </div>
                </div>
            <% } %>
        </div>

<%- include('partials/footer.ejs') %>